<!-- Футер -->
<footer class="footer">
    <div class="container">
        <div class="row footer-content">
            <!-- Колонка 1: Логотип и описание -->
            <div class="col-md-4 mb-4">
                <img src="static/images/logo.png" alt="Логотип" class="footer-logo" height = "40">
                <p class="footer-text mt-3">
                    Комплексные решения для вашего комфорта. Профессиональный монтаж инженерных систем.
                </p>
            </div>

            <!-- Колонка 2: Контакты -->
            <div class="col-md-4 mb-4">
                <h5 class="footer-title">Контакты, тестовые данные для безопасности пока нет SSL</h5>
                <ul class="footer-list">
                    <li><i class="bi bi-geo-alt"></i> г. Минск, ул. Примерная, 15</li>
                    <li><i class="bi bi-telephone"></i> +375 (29) 123-45-67</li>
                    <li><i class="bi bi-envelope"></i> info@climatevam.by</li>
                </ul>
            </div>

            <!-- Колонка 3: Соцсети -->
            <div class="col-md-4 mb-4">
                <h5 class="footer-title">Мы в соцсетях, вариант просто для демонстрации как выглядит</h5>
                <div class="social-links">
                    <a href="#" class="social-link"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="social-link"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="social-link"><i class="bi bi-youtube"></i></a>
                </div>
            </div>
        </div>

        <!-- Копирайт -->
        <div class="copyright text-center">
            <p>© 2025 «Климат Вам». Все права защищены, пока что Беккелем</p>
        </div>
    </div>
</footer>