<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="static/images/logo.png" alt="Логотип" height="40">
        </a>
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarCustom"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCustom">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#about">О компании</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="#services">Услуги</a></li>
                <li class="nav-item">
                    <a class="nav-link" href="#projects">Наши проекты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#clients">Наши клиенты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Связаться с нами</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Карусель -->
<div id="carouselExample" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="static/images/electro.jpg" class="d-block w-100" alt="Электрика" >
            <div class="carousel-caption">
                <h1>Электрика</h1>
                <p>Современные решения для вашего дома и бизнеса</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="static/images/conditioner.jpg" class="d-block w-100" alt="Вентиляция" >
            <div class="carousel-caption">
                <h1>Вентиляция</h1>
                <p>Чистый воздух и комфорт в любое время года</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="static/images/i.jpg" class="d-block w-100" alt="Кондиционирование" >
            <div class="carousel-caption">
                <h1>Кондиционеры</h1>
                <p>Охлаждение и тепло по вашим правилам</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Предыдущий</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Следующий</span>
    </button>
</div>
