<!-- Раздел "Услуги" -->
<section class="services container my-5" id="services">
    <div class="text-center mb-4">
        <h2 data-aos="fade-down">Наши услуги</h2>
        <p class="description" data-aos="fade-down" data-aos-delay="100">Выберите категорию услуг, чтобы
            узнать подробнее.</p>
    </div>

    <!-- Кнопки переключения -->
    <div class="text-center mb-4" data-aos="fade-up" data-aos-delay="200">
        <button class="btn btn-primary service-btn active" data-category="electronics">Электрика</button>
        <button class="btn btn-primary service-btn" data-category="ventilation">Вентиляция</button>
        <button class="btn btn-primary service-btn" data-category="conditioning">Кондиционирование</button>
    </div>

    <!-- Контейнер для карточек -->
    <div class="row service-cards-container">
        <!-- Карточки загружаются динамически -->
    </div>
</section>